<div id="menu">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" routerLink="">
        <img ngSrc="/assets/Nintendo_64_Logo.svg" height="28" alt="n64" width="29">
        Bootstrap
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a routerLink="#" class="nav-item nav-link active">Docs</a>
          <a routerLink="api-view" class="nav-item nav-link">Examples</a> <!--//app-api-view here-->
          <a href="#" class="nav-item nav-link">Icons</a>
          <a href="#" class="nav-item nav-link">Themes</a>
          <a href="#" class="nav-item nav-link">Blog</a>
          <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
        </div>
        <form class="d-flex ms-auto">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>
