<main class="justify-content-center overflow-hidden container-xxl py-0 ps-0 pe-0 mt-3 flex-wrap">
    <div class="col-12 pt-3 ">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item d-flex flex-row" role="presentation">
          <button class="nav-link active" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity-tab-pane" type="button" role="tab" aria-controls="activity-tab-pane" aria-selected="true">Activity</button>
          <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user-tab-pane" type="button" role="tab" aria-controls="user-tab-pane" aria-selected="false">User</button>
          <button class="nav-link" id="planned-activity-tab" data-bs-toggle="tab" data-bs-target="#planned-activity-tab-pane" type="button" role="tab" aria-controls="planned-activity-tab-pane" aria-selected="false">Planned Activity</button>
        </li>
        <li class="nav-item input-group d-flex p-1 tabs-read-container">
          <input type="number" placeholder="Id" id="tabs-read-input" name="tabs-read-input" class="input-group-text">
          <button type="button" id="tabs-button" class="btn btn-secondary tabs-read-button" onclick="readActivity()">Read</button>
          <div class="dropdown input-group-text p-0">
            <button class="btn btn-secondary dropdown-toggle tabs-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Id</a></li>
              <li><a class="dropdown-item" href="#">Name</a></li>
              <li><a class="dropdown-item" href="#">Description</a></li>
              <li><a class="dropdown-item" href="#">Type</a></li>
              <li><a class="dropdown-item" href="#">All</a></li>
           </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="tab-content p-0  col-12 p-0" id="myTabContent">
      <div class="tab-pane fade show active" id="activity-tab-pane" role="tabpanel" aria-labelledby="activity-tab" tabindex="0">
        <div class="container-xxl p-3 m-0 row">
          <div class="col-9 pt-2"> <!--main-table-container-->
            <div class="activity-elements-div ps-0">
              <app-api-view-table></app-api-view-table>
            </div>
          </div>
          <app-api-view-crudl-form class="main-table-section col-3 container row m-0 main-inputs justify-content-between align-items-baseline"></app-api-view-crudl-form>
        </div>
      </div>
      <div class="tab-pane fade" id="user-tab-pane" role="tabpanel" aria-labelledby="user-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="planned-activity-tab-pane" role="tabpanel" aria-labelledby="planned-activity-tab" tabindex="0">...</div>
    </div>
</main>
