<div class="main-table-operations col-12 container g-2 row m-0 p-0">
  <div class="input-group col-12">
    <span class="input-group-text"></span>
    <input type="number" name="activityId" id="activityId" class="form-control" placeholder="Id">
  </div>

  <div class="input-group col-12">
    <span class="input-group-text"></span>
    <input type="text" name="activityName" id="activityName" class="form-control" placeholder="Name">
  </div>

  <div class="input-group col-12">
    <span class="input-group-text"></span>
    <input type="text" name="activityDescription" id="activityDescription" class="form-control" placeholder="Description">
  </div>

  <div class="input-group col-12">
    <span class="input-group-text"></span>
    <input type="text" name="activityType" id="activityType" class="form-control" placeholder="Type">
  </div>
  <div class="crudl-btn-group col-12 container py-2 px-1">
    <div class="btn-group " role="group" aria-label="Basic example">
      <input type="button" value="Create" class="btn btn-primary"/>
      <input type="button" value="Update" class="btn btn-primary"/>
      <input type="button" value="Delete" class="btn btn-primary"/>
      <input type="button" value="List" class="btn btn-primary"/>
    </div>
  </div>
</div>
<img class="main-n64 img-fluid col-12 p-0 m-0" ngSrc="/assets/Nintendo_64_Logo.svg" priority="true" alt="N64Logo" height="280"
     width="290" fetchpriority="auto">
